<div class="col-md-3">
    <div class="list-group">
        <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog"
                                                                       aria-hidden="true"></span> Dashboard</a>
        <a href="{{ url_for('blogs_app.blog') }}" class="list-group-item"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> My
            Blogs <span class="badge">12</span></a>
        <a href="{{ url_for('blogs_app.blog_create') }}" class="list-group-item"><span class="glyphicon glyphicon-bitcoin"
                                                                                aria-hidden="true"></span> Create new
            blog</a>

        <a href="#" class="list-group-item"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>View all
            posts</a></div>

    <div class="well well-sm">
        <img class='img-thumbnail' src="//placehold.it/300x600" width="350" heigh="600" alt="picture">
    </div>
</div>