<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/assets/css/style.css" rel="stylesheet">
</head>

<body>

<!-- Dashboard -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar_title" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Welcome,  Name to be placed here</a></li>
                <li><a href="login.html">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<section id="main">
    <div class="container">
        <div class="row">

            <div col-md-offset-6 col-md-6>
                <br><br><br>
                <div class="jumbotron">
                    <center>{% block content %} {% endblock %}</center>
                </div>


            </div>
        </div>
    </div>

</section>
<hr>
<center>
    <footer id="footer">
        <p> Built by EgbieAndersonUku1 &Copyright 2017 all rights reserved <a href="http://github.com/egbieandersonuku1">my github</a></p>
    </footer>
</center>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>

</body>
</html>