{% extends "base/main/index.html" %}

{% block title %} Blog {% endblock %}

{% block body %}

<div class="container">
    <div id='creation' class="row">

        {% include "base/dashboard/dashboard.html" %}

        <div class="col-md-offset-1 col-lg-9">


            {% include "__flash_messages.html" %}
            {% from "__formhelpers.html" import render_field %}

            {% if edit_blog %}
            <h3 class="panel-title">Edit Blog</h3>
            {% else %}
            <h3 class="panel-title">Create A New Blog</h3>
            {% endif %}

            <form method="POST" role="form">

                {{ form.hidden_tag() }} <!-- prevent cross-site scripting -->
                {{ render_field(form.blog_name, class='form-control') }}
                {{ render_field(form.title, class='form-control') }}
                {{ render_field(form.description, rows="20", class='form-control') }}
                <br>

                {% if edit_blog %}
                <button type="submit"
                        formaction="{{ url_for('blogs_app.blog_edit', blog_id=child_blog.child_blog_id) }}">Save
                </button>
                {% else %}
                <button type="submit" name="new_blog" formaction="{{ url_for('blogs_app.blog_create') }}">Create new
                    blog
                </button>
                {% endif %}

            </form>


        </div>
    </div>
</div>

{% endblock %}