{% extends "blogs/base.html" %}
{% block title %} Edit Blog {% endblock %}


{% block content %}

    <form method="POST" action="{{ url_for('blogs_app.blog_edit', blog_id=child_blog.child_blog_id) }}" role="form">

    <div class="col-md-9">

        {% include "__flash_messages.html" %}
        {% from "__formhelpers.html" import render_field %}

        <div class="panel panel-default">
            <div class="panel-heading main-color-bg">
                <h3 class="panel-title">Edit Blog</h3>
            </div>
            <div class="panel-body">
                {{ form.hidden_tag() }}
                {{ render_field(form.name, class='form-control') }}
                {{ render_field(form.title, class='form-control') }}
                {{ render_field(form.description, rows="16", class='form-control') }}
                <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
    <br>


</form>
{% endblock %}