{% extends "base/index.html" %}

{% block content %}

<!-- ToDo
    Add Bootsrap styling to the page to make it more pleasing to the eye.
-->

<div class="container">
    <div class="row">

        <div class="col-md-12">

            {% if blogs %}

            {% include "__flash_messages.html" %}
            <h3><u>List of blogs</u></h3>


            <table class="table table-striped">

                <thead>
                <tr>
                    <th>#</th>
                    <th>Blog Name</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Creation date</th>
                    <th>Edit/Delete</th>
                </tr>
                </thead>

                <tbody>

                {% for blog in blogs %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><a href="{{ url_for('blogs_app.blog_posts', blog_id=blog.child_blog_id) }}">{{ blog.blog_name  | truncate(20) | safe }}<a/></td>
                    <td>{{ blog.html_strip(blog.title) | truncate(20) }}</td>
                    <td>{{ blog.html_strip(blog.description) | truncate(40)  }} </td>
                    <td>{{ blog.date_created.strftime('%c') }} </td>
                    <td>

                        <a href="{{ url_for('blogs_app.blog_edit', blog_id=blog.child_blog_id) }}"><button>Edit</button></a>
                        |
                        <a href="{{ url_for('blogs_app.blog_delete', blog_id=blog.child_blog_id) }}/"><button>Delete</button></a>

                    </td>
                </tr>
                {% endfor %}


                </tbody>

            </table>
            {% else %}
            <div class="jumbotron">
                You have no blogs
            </div>
            {% endif %}

            <a href="{{ url_for('blogs_app.blog_create') }}"><button>Create Blog</button></a>
            <a href="{{ url_for('blogs_app.delete_all_blogs') }}"><button>Delete all blogs</button></a>
            <br>

        </div>
    </div>
</div>

{% endblock %}