{% extends "base/intro.html" %}

{% block title %} Forgotten Password {% endblock %}

{% block content %}

    <br>
    {% include "__flash_messages.html" %}
    {% from "__formhelpers.html" import render_field %}

    <h1> Reset password </h1>
    <form method="POST" action="{{ url_for('password_app.forgotten_password') }}">

        {{ form.hidden_tag() }} <!-- Prevents cross site attacks -->
        {{ render_field(form.email, class='form-control') }}

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}