
{% block title %} Reset Password Form {% endblock %}

{% block content %}

    {% include "__flash_messages.html" %}
    {% from "__formhelpers.html" import render_field %}

    <h1> Reset your forgotten password </h1>
    <form method="POST" action="{{ url_for('password_app.reset_password', username=username, code=code) }}">

        {{ form.hidden_tag() }} <!-- Prevents cross site attacks -->
        {{ render_field(form.new_passwd, class='form-control') }}
        {{ render_field(form.confirm, class='form-control') }}

        <br>
        <button type="submit" class="btn btn-primary">Reset password</button>
    </form>

{% endblock %}