{% extends "blogs/front_page.html" %}

{% block title %} Registration Page {% endblock %}


{% block body %}


<!-- Main Content -->
<div class="container">
    <div class="row">

        <div class="col-md-offset-3 col-lg-9 mx-auto">
            {% include "__flash_messages.html" %}
        </div>

        <div class="col-lg-5 col-md-10 mx-auto">

            <h1>Registration Page</h1>

            <div class="login-msg">
                <p>Register your details in order to use the facilities of the blog</p>
            </div>


            {% from "__formhelpers.html" import render_field %}

            <form method="post" action="{{ url_for('registration_app.register_user') }}" class="registration_form">

                {{ form.hidden_tag() }} <!-- prevents cross site scripting  -->
                {{ render_field(form.username, class="form-control") }}
                {{ render_field(form.email, class="form-control") }}
                {{ render_field(form.password, class="form-control") }}
                {{ render_field(form.confirm, class="form-control") }}

                <br>
                <button type="submit" class="btn btn-primary">Sign me up!</button>
            </form>

            <hr>
        </div>
    </div>
</div>






{% endblock %}