{% extends "base_template.html" %}
{% block title %} Blog Login Form {% endblock %}
{% block content %}

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Blog</strong> Login Form</h1>

                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 phone">
                    <a href="{{ url_for('registration_app.register_user') }}">
                        <img src="static/template/assets/img/iphone.png" alt="">
                    </a>
                </div>
                <div class="col-sm-5 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h1><strong>UserBlog Login</strong></h1>
                            <p>Enter your details to login or click the phone to register</p>

                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                <div class="alert alert-danger">
                                    <ul class=flashes>
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                            {% endwith %}

                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-pencil"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        {% from "__formhelpers.html" import render_field %}
                        <form role="form" action="" method="post" class="registration-form">
                            {{ form.hidden_tag() }}
                            {{ render_field(form.username, class="form-control") }}
                            {{ render_field(form.password, class="form-control") }}
                            <br>
                            <button type="submit" class="btn btn-primary">Log me in!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



{% endblock %}
