{% extends "blogs/front_page.html" %}

{% block title %} Login Page {% endblock %}


{% block body %}


<!-- Main Content -->
<div class="container">
    <div class="row">


        <div class="col-md-offset-3 col-lg-6 mx-auto">
            {% include "__flash_messages.html" %}
            <h1>Login Page</h1>

            <div class="login-msg">
                 <p>Logged in to access your blog's functionality</p>
            </div>


            {% from "__formhelpers.html" import render_field %}


            <form role="form" action="" method="post" class="registration-form">

                {{ form.hidden_tag() }} <!--Prevents cross site scripting -->
                {{ render_field(form.username, class="form-control") }}
                {{ render_field(form.password, class="form-control") }}

                <span id="passwordHelpBlock" class="help_block"><a href="{{ url_for('password_app.forgotten_password') }}">Forgot password?</a> </span>
                <br>

                <br>
                <button type="submit" class="btn btn-primary">Log me in!</button>
            </form>
            {% endblock %}