{% extends "mail/base.html" %}

{% block body %}
    <p>

    <p>Hi {{ user.username.title() }},</p>

       <br>

        Welcome to the Social Network application.

        <br>

        We have received your request to change your password. To proceed further please click on the link below.

        <br>
        <br>
        <a href="{{ config.get('HOSTNAME') }}/password/reset/{{ user.username.title() }}/{{ user.codes['reset_password'] }}">
                 {{ config.get('HOSTNAME') }}/password/reset/{{ user.username.title() }}/{{ user.codes['reset_password'] }}</a>

    </p>

{% endblock %}
