{% extends "admin/base.html" %}

{% block title %} {% endblock %}

{% block content %}


<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Change Password</h3>
        </div>
        <div class="panel-body">
            <!--Add the ability to change password using flask -->
            The password to be changed
        </div>
    </div>
</div>
<br>

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Change Username</h3>
        </div>
        <div class="panel-body">
            The username to be changed
        </div>
    </div>
</div>

<br>

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Delete account</h3>
        </div>
        <div class="panel-body">
            <!-- Delete a blog-->
            The main ability to delete the main account will be added here.
        </div>
    </div>
</div>


<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Edit profile</h3>
        </div>
        <div class="panel-body">
            <!--Edit the profile information -->
            <h3>Public profile</h3>
            <hr>

             Profile information that will be edited
        </div>

    </div>
</div>


{% endblock %}