{% extends "index.html" %}

{% block title %} New post {% endblock %}

{% block content %}

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-heading main-color-bg">
            <h3 class="panel-title">Create A New Post</h3>
        </div>

        {% from "__formhelpers.html" import render_field %}

        <form method="POST" action="{{ url_for('posts_app.new_post', blog_id=blog_id) }}" role="form">

            <div class="panel-body">
                {{ form.hidden_tag() }}
                {{ render_field(form.title, class='form-control') }}
                {{ render_field(form.description, rows="10", class='form-control') }}
                {{ render_field(form.image, class='form-control') }}

                <br>

                <a href="#"><button type="submit">Save and post</button></a>

                <button type="submit" name="save draft" formaction="{{ url_for('drafts_app.drafts', blog_id=blog_id) }}">Save to draft</button>

            </div>
    </div>
</div>
<br>


</form>


{% endblock %}