{% extends "index.html" %}
{% block title %}{{ form.title.data.title() }}-Preview{% endblock %}
{% block body %}

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-md-offset-3 col-md-8">

          <!-- Title -->
          <h1 class="mt-4">This is a preview post page</h1>

          <h3 class="mt-4">{{ form.title.data.title() }}</h3>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{ session.username.title() }}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p> Created on <strong>{{ date.strftime('%c') }}</strong></p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="//placehold.it/400x400" alt="">
          <p> <b>Sorry, you cannot view your picture in preview mode</b></p>


          <hr>

          <!-- Post Content -->
          {{ form.post.data  | safe }}

          <hr>
          <input type="button" value="Go back to where I was" onclick="window.history.back()" />

          <hr>
          <h1><center>THIS IS A PREVIEW</center></h1>
          <hr>

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->


{% endblock %}