{% extends "base/index.html" %}

{% block content %}

<!-- ToDo
    Add Bootsrap styling to the page to make it more pleasing to the eye.
-->


<div class="container">
    <div class="row">

        <div class="col-md-12">
            {% include "__flash_messages.html" %}
            {% if posts %}

            <h3><u>List of posts</u></h3>


            <table class="table table-striped">

                <thead>
                <tr>
                    <th>#</th>
                    <th>Post Name</th>
                    <th>Description</th>
                    <th>Edit/Delete</th>
                </tr>
                </thead>

                <tbody>

                {% for post in posts %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ post.title| truncate(20) }}</td>
                    <td>{{ post.post|truncate(80) | safe }}</td>
                    <td>

                        <a href="#"><button>Edit</button><a/>

                        |

                        <a href="{{ url_for('posts_app.delete', blog_id=post.child_blog_id, post_id=post.child_post_id) }}"><button>Delete</button><a/>



                </tr>
                {% endfor %}


                </tbody>

            </table>

            {% else %}
            <div class="jumbotron">
                You have no posts
            </div>
            {% endif %}

            <a href="{{ url_for('posts_app.new_post', blog_id=blog_id) }}">
                <button type="button" class="btn btn-primary">Create New post</button>
            </a>
            <br>

        </div>
    </div>
</div>

{% endblock %}