{% extends "base/main/index.html" %}

{% block body %}

<!-- ToDo
    Add Bootstrap styling to the page to make it more pleasing to the eye.
-->

<div class="container">
    <div class="row">

        <div class="col-md-12">

            {% if drafts %}

            {% include "__flash_messages.html" %}

            <br><br>
            <div class="jumbotron">
                You have a total of <strong>{{ num_of_drafts }}</strong> posts not yet published
                <br>
            </div>

            <h3><u>List of drafts</u></h3>

            <table class="table table-striped">

                <thead>
                <tr>
                    <th>#</th>
                    <th>Draft</th>
                    <th>Description</th>
                    <th>Creation date</th>
                    <th>View/Publish/Delete</th>
                </tr>
                </thead>

                <tbody>

                {% for draft in drafts %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td><a href="{{ url_for('drafts_app.view_draft', blog_id=blog_id, draft_id=draft.draft_id) }}">{{ draft.html_strip(draft.title) | truncate(20) }}</a></td>
                    <td>{{ draft.html_strip(draft.post) | truncate(40) | safe }} </td>
                    <td>{{ draft.date_created.strftime('%c') }}</td>

                    <td>

                        <a href="{{ url_for('drafts_app.view_draft', blog_id=blog_id, draft_id=draft.draft_id) }}"><button>View</button></a>
                        |
                        <a href="{{ url_for('drafts_app.publish', blog_id=blog_id, draft_id=draft.draft_id) }}"><button>Publish</button></a>
                        |
                        <a href="{{ url_for('drafts_app.delete_draft', blog_id=blog_id, draft_id=draft.draft_id) }}"><button>Delete</button></a>

                    </td>
                </tr>
                {% endfor %}


                </tbody>

            </table>

            {% else %}
            <div class="jumbotron">
                You currently have no saved drafts.
                <br>
                Saving a draft allows you to keep a post you aren't ready to publish yet.
            </div>
            {% endif %}
            <a href="{{ url_for('posts_app.posts', blog_id=blog_id) }}">
                <button type="button"><< Back to my posts</button>
            </a>
        </div>
    </div>
</div>

{% endblock %}